[Desktop Entry]
Name=Edbian Installer
Comment=Instalador gráfico de paquetes recomendados
Exec=/usr/local/bin/edbian-installer.py
Icon=/usr/share/edbian-installer/assets/logo.png
Terminal=false
Type=Application
Categories=Utility;

